<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chh.healthy.backend.dao.mapper.BMIMapper">
  <resultMap id="BaseResultMap" type="com.chh.healthy.backend.pojo.entity.BMI">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="weight" jdbcType="VARCHAR" property="weight" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="bmi" jdbcType="VARCHAR" property="bmi" />
    <result column="today" jdbcType="VARCHAR" property="today" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <association property="user" javaType="com.chh.healthy.backend.pojo.entity.User" column="created_by"
                 select="getUser" />
  </resultMap>
  <select id="getUser"
          resultType="com.chh.healthy.backend.pojo.entity.User">
        select
        p.id,
        p.username,
        p.nickname,
        p.sex,
        p.status,
        p.created_by,
        p.created_time,
        p.updated_by,
        p.updated_time,
        p.version,
        p.email,
        p.icon
        from h_user AS p where p.id=#{id}
    </select>

  <select id="queryBMI" resultMap="BaseResultMap">
    SELECT
    t1.*
    FROM
    h_bmi AS t1
    <where>
      <if test="query.today != null">
        AND t1.today= #{query.today}
      </if>
      <if test="query.createdBy != null">
        AND t1.created_by = #{query.createdBy}
      </if>
    </where>
    ORDER BY
    t1.updated_time DESC,
    t1.id DESC
  </select>
</mapper>