<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chh.healthy.backend.dao.mapper.InvitationMapper">
  <resultMap id="BaseResultMap" type="com.chh.healthy.backend.pojo.entity.Invitation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="good" jdbcType="INTEGER" property="good" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="collect" jdbcType="INTEGER" property="collect" />
    <result column="click" jdbcType="INTEGER" property="click" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
      <result column="comment" jdbcType="INTEGER" property="comment" />

      <association property="user" javaType="com.chh.healthy.backend.pojo.entity.User" column="created_by"
                 select="getUser" />
      <collection property="pictureList"
                  ofType="com.chh.healthy.backend.pojo.entity.InvitationPicture"
                  resultMap="InvitationPictureMap"
      />
  </resultMap>
    <resultMap id="InvitationPictureMap" type="com.chh.healthy.backend.pojo.entity.InvitationPicture">
        <id column="picture_id" jdbcType="BIGINT" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="invitation_id" jdbcType="BIGINT" property="invitationId"/>
    </resultMap>
  <select id="getUser"
          resultType="com.chh.healthy.backend.pojo.entity.User">
        select * from h_user AS p where p.id=#{id}
    </select>
  <select id="queryInvitation" resultMap="BaseResultMap">
        SELECT
        t1.*,
        t2.id AS picture_id,
        t2.url,
        t2.invitation_id
        FROM
        h_invitation AS t1
        LEFT JOIN h_invitation_picture AS t2 ON t2.invitation_id = t1.id
        <where>
          <if test="query.title != null">
            AND t1.title = #{query.title}
          </if>
        </where>
        ORDER BY
        t1.updated_time DESC,
        t1.id DESC
  </select>

    <select id="queryInvitationById" resultMap="BaseResultMap">
        SELECT
        t1.*,
        t2.id AS picture_id,
        t2.url,
        t2.invitation_id
        FROM
        h_invitation AS t1
        LEFT JOIN h_invitation_picture AS t2 ON t2.invitation_id = t1.id
        <where>
            <if test="query != null">
                AND t1.id = #{query}
            </if>
        </where>
        ORDER BY
        t1.updated_time DESC,
        t1.id DESC
    </select>
</mapper>