<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chh.healthy.backend.dao.mapper.StepMapper">
  <resultMap id="BaseResultMap" type="com.chh.healthy.backend.pojo.entity.Step">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="today" jdbcType="VARCHAR" property="today" />
    <result column="step" jdbcType="VARCHAR" property="step" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>

  <select id="queryStep" resultMap="BaseResultMap">
    SELECT
    t1.*
    FROM
    h_step AS t1
    <where>
      <if test="query.today != null">
        AND t1.today= #{query.today}
      </if>
      <if test="query.step != null">
        AND t1.step = #{query.step}
      </if>
      <if test="query.createdBy != null">
        AND t1.created_by = #{query.createdBy}
      </if>
    </where>
    ORDER BY
    t1.updated_time,
    t1.id
  </select>
</mapper>