<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chh.healthy.backend.dao.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.chh.healthy.backend.pojo.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
  </resultMap>
  <select id="queryUserList" resultMap="BaseResultMap">
    SELECT
    t1.id,
    t1.username,
    t1.nickname,
    t1.sex,
    t1.status,
    t1.created_by,
    t1.created_time,
    t1.updated_by,
    t1.updated_time,
    t1.version,
    t1.email,
    t1.icon
    FROM
    h_user AS t1
    <where>
      <if test="query.username != null">
        AND t1.username LIKE concat("%",#{query.username},"%")
      </if>
        AND t1.status != 1
    </where>
    ORDER BY
    t1.created_time DESC,
    t1.id DESC
  </select>
</mapper>